body {
    font-family: 'Montserrat', sans-serif;
    background-color: #eee;
}
/* navbar */
.sidebar {
    height: 100vh;
    background: url(../images/sidebarBackground2.jpg);
    background-position: center;
    background-size: cover;
}
/* end of navbar*/  